Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-include-cleaner,
  performance-*,
  portability-*,
  readability-*
HeaderFilterRegex: '.*/(packages|tools|tests)/.*'
WarningsAsErrors: '*'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'i|j|k|n|rc'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'i|j|k|n|rc'
